body {
    margin: 0px;
}

#dropTarget {
    display: none;
}

#dropTarget.start {
    display: block;
    position: absolute;

    background-color: black;

    margin: 20px;
    border: dashed white 5px;
    border-radius: 50px;

    left: 0px;
    top: 0px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);

    z-index: 10;
}

#title {
    color: yellow;
    font-family: sans-serif;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#output {
    position: absolute;
    background-color: black;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

#fileInput {
    /* display: none; (Causes problems in Safari.) */
    position: absolute;
    left: -9999px;  /* So ugly! */
}

#buffer {
    display: none;
}

