body {
    margin: 0px;
}

#dropTarget {
    display: none;
}

#dropTarget.start {
    display: block;
    position: absolute;

    background-color: black;

    margin: 20px;
    border: dashed white 5px;
    border-radius: 50px;

    left: 0px;
    top: 0px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);

    z-index: 2;
}

#title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#output {
    position: absolute;
    background-color: black;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

#buffer {
    display: none;
}

#cursorCoords {
    display: none;
    position: absolute;
    max-width: 45%;

    color: white;
    background-color: rgba(1,1,1,0.5);
    font-family: sans-serif;
}

#cursorCoords tr {
    vertical-align: top;
}

#cursorCoords .entry {
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

#help {
    display: none;
    position: absolute;

    z-index: 3;
    background-color: rgba(1,1,1,0.9);
    padding: 0px;
    margin: 0px;

    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: white;
    font-size: 2em;
}

#help > table {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    text-align: left;
}

table th {
    color: yellow;
}

#help > p {
    position: relative;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    padding: 10px;

    width: 50%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 15pt;
}

#help a {
    color: cyan;
    text-decoration: none;
}

#help a:hover {
    text-decoration: underline;
}

#notify {
    display: none;
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0);
    z-index: 10;
}

#notify div {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 20px;

    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

    color: white;
    background-color: rgba(0,0,0,0.5);

    font-family: sans-serif;
    font-size: 2em;
}

#fileInput {
    /* display: none; (Causes problems in Safari.) */
    position: absolute;
    left: -9999px;  /* So ugly! */
}


